 /* Feel free to remove these styles or customise in your own stylesheet 👍  */

  .attribution { font-size: 11px; text-align: center; }
  .attribution a { color: hsl(228, 45%, 44%); }
  @import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Display', sans-serif;
    
}

body{
    background-image: url(images/pattern-background-desktop.svg);
   
    background-repeat: no-repeat;
    
}

main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

article{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 24vw;
    height: 70vh;
    background-color: #fff;
    border-radius: 10px;
    background-image: url(images/illustration-hero.svg);
    background-repeat: no-repeat;
    gap: 40px;
    
}

h1{
   
}

p{
    grid-area: texto;
    width: 300px;
    color: rgb(167, 165, 165);
    font-size: 18px; 
    text-align: center;
}

.plano{
    grid-area: plano;
    width: 150px;
    height: auto;
    display: flex;
    justify-content: space-around;
    
}

.botao{
    grid-area: botao;
    background-color: blueviolet;
    padding: 15px 60px;
    text-decoration: none;
    color: #fff;
    border-radius: 15px;
}

.botao-cancel{
    grid-area: botao;
    margin-top: 20px;
    text-decoration: none;
}

/* .image-garota{
    width: 24vw;
    margin-bottom: 245px;
    border-radius: 10px 10px 0 0;
} */

